

  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000000;
  }
section,body,h1,h2,h3,h4,h5,p,ul{margin: 0; padding: 0; font-family: 'Pretendard Variable';}

h5{
  font-family: 'Pretendard Variable';
  font-weight: 500;
  font-size: 1.3rem;
  color: #FFFFFF;}

h3 {
  font-family: 'Pretendard Variable';
  font-weight: 500;
  font-size: 1.2rem;
  color: #FFFFFF;
line-height: 165.7%;
width: 549px;}

.top{padding-top: 100px;}

h4 {
  font-family: 'Pretendard Variable';
  font-weight: 400;
  font-size: 7.5rem;
  color: #8D8D8D;
margin-bottom: -20px;
padding-top: 30px;}

.h4 h4:hover{color: #FFFFFF; transition: color 0.3s ease;}

.wrap {
  margin: auto;
  position: relative;
  padding-right: 45px; /* 여기에 띄어쓰기 추가 */
  padding-left: 45px;
  padding-top: 0;}

.two {
  color: white;
  border: 1px solid white; /* 테두리의 두께를 포함하여 너비 지정 */
  box-sizing: border-box; /* 요소의 너비에 테두리와 안쪽 여백을 포함 */
  width: 63.5%; /* 전체 너비를 사용하도록 지정 */
  padding-right: 20px; /* 오른쪽 여백을 600px로 지정 */
  margin-top: 120px;
  margin-left: 600px;
}

.inf { background-image: url(../img/accinf.gif);
background-size: cover;
  background-position: center;
  padding: 550px;
 }


.fixx {
  background-image: url("../img/cha1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  padding: 300px;
  text-align: center;
}

.fixx p {
  margin: 0;
  color: white;
  font-weight: bold; font-size: 2.6rem;
}


  .container {
    display: flex;
    overflow-x: auto;}

      .container2 {
    display: flex;
   padding-left: 600px;
   padding-top: 20px;
}
 .menu4 {width: 130px; text-align: center;}
  .menu4 {display: block;
    border: solid 10px white; border-radius: 100px; 
    background: white; text-decoration: none; 
    color: black; font-weight: bold;}
  .menu4 :hover{color: #24b6e8;}
 .more {padding-left: 643px; padding-top: 30px; padding-bottom: 100px}

  .box1 {
  background: #FFFFFF;
  margin-right: 94px;
   width: 0.1389vw;
  height: 216px;
}
.box2 {
  background: #FFFFFF;
  margin-right: 96px;
   width: 0.2083vw;
  height: 216px;
}
.box3 {
  background: #FFFFFF;
  margin-right: 99px;
  width: 0.4167vw;
  height: 216px;
}
.box4 {
  background: #FFFFFF;
  margin-right: 99px;
  width: 0.4861vw;
  height: 216px;
}
.box5 {
  background: #FFFFFF;
  margin-right: 95px;
  width: 0.5556vw;
  height: 216px;
}
.box6 {
  background: #FFFFFF;
  margin-right: 91px;
  width: 0.5556vw;
  height: 216px;
}
.box7 {
  background: #FFFFFF;
  margin-right: 77px;
  width: 0.7639vw;
  height: 216px;
}
.box8 {
  background: #FFFFFF;
  margin-right: 73px;
  width: 0.9028vw;
  height: 216px;
}
.box9 {
  background: #FFFFFF;
  margin-right: 64px;
  width: 1.1111vw;
  height: 216px;
}
.box10 {
  background: #FFFFFF;
  margin-right: 59px;
  width: 1.2500vw;
  height: 216px;
}
.box11 {
  background: #FFFFFF;
  margin-right: 51px;
  width: 1.7361vw;
  height: 216px;
}
.box12 {
  background: #FFFFFF;
  margin-right: 48px;
  width: 2.2222vw;
  height: 216px;
}
.box13 {
  background: #FFFFFF;
  margin-right: 41px;
  width: 2.2222vw;
  height: 216px;
}
.box14 {
  background: #FFFFFF;
  margin-right: 35px;
  width: 2.8472vw;
  height: 216px;
}
.box15 {
  background: #FFFFFF;
  margin-right: 30px;
  width: 3.4028vw;
  height: 216px;
}
.box16 {
  background: #FFFFFF;
  margin-right: 27px;
  width: 3.9583vw;
  height: 216px;
}
.box17 {
  background: #FFFFFF;
  margin-right: 20px;
  width: 4.0972vw;
  height: 216px;
}
.box18 {
  background: #FFFFFF;
  margin-right: 18px;
  width: 4.5833vw;
  height: 216px;
}
.box19 {
  background: #FFFFFF;
  margin-right: 12px;
  width: 5.0000vw;
  height: 216px;
}
.box20 {
  background: #FFFFFF;
  margin-right: 6px;
  width: 5.3472vw;
  height: 216px;
}
.box21 {
  background: #FFFFFF;
  width: 6.3889vw;
  height: 216px;
}

.container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;

  .acc {
  position: relative;
  margin-right: 12.2rem;
  overflow-wrap: break-word;
  font-family: 'Tektur';
  font-weight: 400;
  font-size: 15vw;
  letter-spacing: -0.2rem;
  color: #FFFFFF;
  line-height: 15rem;
}
.container {
  scale:50% / cover no-repea ;
  position: absolute;
  left: 46.2rem;
  top: 20.3rem;
  width: 18.8rem;
  height: 18.8rem;}
.stt{position: absolute; bottom: 25px; left: 590px; scale: 90%}

.flex{display: flex; justify-content: space-between; display: flex; gap: 10% 10px; flex-wrap: wrap;}

.menu{width: 400px;}
  .menu li{list-style-type: none;}
  .menu li a{display: block; padding: 40px 20px; background: black; text-decoration: none; color: white;}
  .menu li a:hover{background: black; color: #24b6e8;}

.menu2{width: 700px;}
  .menu2 li a{display: block; margin: 30px 50px; border: solid 10px white; border-radius: 100px; background: white; text-decoration: none; color: black; font-weight: bold;}
  .menu2 li a:hover{background: white; color: #24b6e8;}
  .ww{color: white;}
  .jump{padding-bottom: 10rem;}
  .jump2{padding-bottom: 3rem;}

  .menu3{width: 95vw; margin: 0 auto;}
  .menu3 li{list-style-type: none;}
  .menu3 li a{display: block; padding: 40px 20px; background: black; text-decoration: none; color: white;}
  .menu3 li a:hover{background: black; color: #24b6e8;}
  .pp {padding-left: 50px;}
  .p {padding-left: 10px;}
 .wd {width: 40%;}







